<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "MovieCrusher" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    {% if session.get("user") %}
        <a href="/dashboard">Dashboard</a>
        <a href="/search">Suche</a>
        <a href="/rate">Bewerten</a>
        <a href="/watchlist">Watchlist</a>
        <a href="/add_movie">Film hinzufügen</a>
        <a href="/logout">Logout</a>
    {% endif %}
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
