{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Filme suchen</h2>

<form method="POST" class="form-container">
    <input type="text" name="keyword" placeholder="Suchbegriff (Titel oder Genre)">
    <button type="submit">Suchen</button>
</form>

{% if message %}
<p class="error">{{ message }}</p>
{% endif %}

{% if results %}
<div class="results-box">
    <h3>Suchergebnisse:</h3>

    {% for movie in results %}
        <div class="movie-item">
            <strong>{{ movie[1] }}</strong> ({{ movie[3] }}) – {{ movie[2] }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% if description %}
<div class="description-box">
    <h3>Beschreibung:</h3>
    <p>{{ description }}</p>
</div>
{% endif %}

{% endblock %}
