{% extends "base.html" %}
{% block content %}
<h2>Film hinzufügen</h2>

<form method="POST">
    <label>Titel:</label>
    <input type="text" name="title" required>

    <label>Genre:</label>
    <input type="text" name="genre" required>

    <label>Jahr:</label>
    <input type="number" name="year" required>

    <label>Beschreibung:</label>
    <textarea name="description"></textarea>

    <button type="submit">Film speichern</button>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% endblock %}
