{% extends "base.html" %}
{% block content %}
<h2>Filmsuche</h2>

<form method="POST">
    <label>Suchbegriff:</label>
    <input type="text" name="keyword" required>
    <button type="submit">Suchen</button>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% if results %}
<h3>Gefundene Filme:</h3>
<ul>
    {% for movie in results %}
        <li>{{ movie[1] }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if description %}
<h3>Beschreibung:</h3>
<p>{{ description }}</p>
{% endif %}

{% endblock %}

