{% extends "base.html" %}
{% block content %}
<h2>Filmsuche</h2>

<form method="POST">
    <label>Suchbegriff:</label>
    <input type="text" name="keyword" required>
    <button type="submit">Suchen</button>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% if results %}
<h3>Gefundene Filme:</h3>
<ul>
    {% for movie in results %}
        <li>{{ movie[1] }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if description %}
<h3>Beschreibung:</h3>
<p>{{ description }}</p>
{% endif %}

{% for movie in results %}
    <div class="movie-card">
        <h3>{{ movie[1] }}</h3> <p>Genre: {{ movie[2] }} | Jahr: {{ movie[3] }}</p>
        
        <a href="{{ url_for('add_to_watchlist', movie_id=movie[0]) }}" 
           class="btn btn-primary">
           + Auf die Watchlist
        </a>
    </div>
{% endfor %}

{% endblock %}

